.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container-fluid{
  width: 1200px;
  padding: 0;
}


.zoom img{
  /* width: 105%; */
  padding: 2px;
  
}
.zoom img:hover{
  /* width: 105%; */
  
 transform: scale(1.05)

}


